.env
.DS_Store
node_modules/
.next/
out/
build/
dist/
venv/
.venv/
env/
.env/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
lib/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pylint.d/
.qodo/