TELEGRAM_BOT_TOKEN=
REDIS_URL=rediss://default:<password>@<host>:6379
GROQ_API_KEY=
LINK_BASE_URL=https://movies.samkiel.dev
WEB_PROXY_BASE_URL=https://samkiel.online
CDN_TTL_HOURS=6
MOVIEBOX_API_HOST_V2=h5.aoneroom.com
MOVIEBOX_DOWNLOAD_API_HOST=h5.aoneroom.com
GROQ_MODEL=openai/gpt-oss-120b

